.devcontainer
.eslintrc.json
.github
.gitignore
.pre-commit-config.yaml
.vscode
.vscode-test
.yarnrc
# Webpack includes node_modules/ and out/ into dist/ so there is no need to include them
node_modules
out
screenshots
src
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
