/*
 * Set minimum width on search results data grid.
 *
 * This cannot be set via the 'grid-template-columns' attribute because of
 * https://github.com/microsoft/vscode-webview-ui-toolkit/issues/473
 *
 * @see https://github.com/fengtan/ldap-explorer/issues/52
 */
vscode-data-grid-cell {
  min-width: 6em;
}

/*
 * Position button "Export CSV" and counter ("XX results") side by side.
 */
#counter {
  float: left;
}

#export-csv {
  float: left;
  /* Same margin top/bottom (0.83em) and same font size as h2#counter so both are aligned horitontally */
  margin: 0.83em 0.5em;
  font-size: 1.5em;
}

#grid {
  clear: both;
}